<div class="workshop">
<h2><%= @workshop.name.capitalize %> <span class="badge bg-warning"><%= image_tag avatar_path(current_user, size: 40), height: 32, width: 32, class: "rounded" %></span></h2>

<%= render @workshop %>

</div>